body {
  font-family: Arial, sans-serif;
  background-color: #2f2f30;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

#name,
#message {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

button {
  background-color: #a8a7a7;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #999797;
}

#web_footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

#web_footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

#web_footer a:hover {
  text-decoration: underline;
}

